<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selector de Módulo - Biblioteca</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>

    <h1>Seleccione Módulo de Ingreso</h1>

    <div class="grid">
        <a href="/piso/1" class="tile">
            <span class="emoji"></span>
            Piso 1
        </a>
        <a href="/piso/2" class="tile">
            <span class="emoji"></span>
            Piso 2
        </a>
        <a href="/piso/3" class="tile">
            <span class="emoji"></span>
            Piso 3
        </a>
        <a href="/login" class="tile admin-tile">
            <span class="emoji"></span>
            Administrador
        </a>
    </div>

</body>

</html>